@font-face {
  font-family: "alegreya";
  src: url("./fonts/alegreyasanssc-black-webfont.woff2") format("woff2"),
    url("./fonts/alegreyasanssc-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --yellow: #ffc92f;
  --red: #d82727;
  --black: #1b1b1b;
  --gray: #ddd8c7;
  --titlesFontKaffeesatz: "Yanone Kaffeesatz", Arial, sans-serif;
  --titleFontUbuntu: "Ubuntu", Arial, sans-serif;
  --titleRoboto: "Roboto", Arial, sans-serif;
}

html,
body {
  height: 100%;
}

.wrapper {
  overflow-y: hidden;
  min-width: 1440px;
}

.container {
  margin: 0 auto;
  width: 1340px;
}

body {
  font: 16px / 1.42 "Roboto", Arial, sans-serif;
  color: var(-);
  -webkit-font-smoozing: antialiased;
  -moz-osx-font-smoozing: grayscale;
  background: #fcf5e6;
}

ul {
  margin: 0;
  padding: 0;
}

ul > li {
  list-style: none;
}

.hero {
  height: 1000px;
  min-height: 650px;
  background: url("./img/bg/hero.jpg") center center / cover no-repeat;
  position: relative;
  margin-bottom: 130px;
}

.hero-page2 {
  min-height: 180px;
  background: url("./img/bg/hero.jpg") center center / cover no-repeat;
  position: relative;
  display: block;
  justify-content: space-between;
  overflow: hidden;
}

.hero-page2:before {
  content: "";
  display: block;
  position: absolute;
  background: center center / contain no-repeat;
}

.logo-page2__lost-shirt {
  padding: 0;
  border: 0;
  margin-left: 0;
}

.logo-page2__item {
  content: "";
  display: block;
  position: absolute;
  top: -26px;
  background: center center / 53px;
  margin-left: 413px;
}

.sidebar {
  width: 75px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: #212121;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: width 0.3s;
}

.sidebar__menu {
  position: absolute;
  left: -400px;
  transition: left 0.3s;
}

.sidebar--opened .sidebar__menu {
  left: 0;
  width: 100%;
  text-align: center;
  transition-delay: 0.1s;
}

.sidebar__hamburger-icon {
  width: 29px;
  height: 29px;
  fill: var(--yellow);
}

.sidebar__hamburger {
  display: block;
  position: absolute;
  top: 27px;
  left: 50%;
  transform: translate(-50%);
}

.sidebar--opened {
  width: 325px;
  padding: 0 3% 0 4%;
}

.sidebar--opened .sidebar__hamburger {
  display: none;
}

.sidebar--opened .sidebar__header {
  display: flex;
}

.sidebar__header {
  position: absolute;
  top: 29px;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
}

.sidebar__close {
  position: absolute;
  top: -4px;
  right: 23px;
}

.sidebar__close-icon {
  width: 29px;
  height: 29px;
  fill: var(--yellow);
}

.side-menu__item {
  margin-bottom: 20px;
}

.side-menu__link {
  font-size: 20px;
  color: var(--yellow);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--titlesFontKaffeesatz);
}

.side-menu__link:hover {
  color: var(--red);
}

.header {
  width: 1270px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 27px;
}

.mail {
  text-decoration: none;
  text-align: center;
  color: inherit;
}

.mail-page2 {
  text-decoration: none;
  text-align: center;
  color: inherit;
  padding: 0;
  border: 0;
  margin-right: 0;
}

.mail__title {
  margin-bottom: 3px;
}

.mail__content {
  background: #212121;
  color: var(--yellow);
  padding: 5px 10px;
}

.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1140px;
  height: 72%;
}

.fade-slider {
  width: 100%;
  height: 100%;
  position: relative;
}

.fade-slider__item {
  background: center center / contain no-repeat;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}

.fade-slider__item--visible {
  opacity: 1;
}

.fade-slider__item--style-thirts {
  background-image: url("./img/content/hero/slider_pic_1.png");
}

.fade-slider__item--style-thirts .fade-slider__text {
  left: 50%;
  top: 50%;
  transform: translateX(-164%) translateY(-53%);
}

.fade-slider__item--style-games {
  background-image: url("./img/content/hero/slider_pic_2.png");
}

.fade-slider__item--style-games .fade-slider__text {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.fade-slider__item--style-games .lined-text {
  align-items: center;
}

.fade-slider__item--style-presents {
  background-image: url("./img/content/hero/slider_pic_3.png");
}

.fade-slider__item--style-presents .fade-slider__text {
  left: 0%;
  bottom: 0;
  transform: translateY(-120%);
}

.fade-slider__item--style-presents .lined-text {
  align-items: center;
}

.fade-slider__text {
  position: absolute;
}

.logo-page2__item--text {
  position: absolute;
}

.lined-text {
  font-family: "alegreya", Arial, sans-serif;
  color: #fff;
  font-size: 60px;
  text-transform: uppercase;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo-page2__item--lined-text {
  font-family: "alegreya", Arial, sans-serif;
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 21px 213%;
  padding-top: 39px;
}

.logo-page2__item--lined-text__word {
  background: #000;
  padding: 6px 17px 6px;
  margin-top: -7px;
  white-space: nowrap;
}

.lined-text__word {
  background: #000;
  padding: 0 17px 8px;
  margin-top: -7px;
  white-space: nowrap;
}

.lined-text__word--color-yellow {
  color: var(--yellow);
}

.lined-text__word:nth-child(2n) {
  margin-left: 8px;
}

.logo-page2__item--lined-text__word:nth-child(2n) {
  margin-left: 4px;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.filter__item {
  margin-right: 40px;
}

.filter__item:last-child {
  margin-right: 0;
}

.filter__link {
  font-family: var(--titlesFontKaffeesatz);
  text-transform: uppercase;
  padding: 5px 21px;
  color: var(--black);
  font-size: 21px;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
}

.informations__filter__link {
  font-family: var(--titlesFontKaffeesatz);
  text-transform: uppercase;
  padding: 5px 21px;
  color: var(--black);
  font-size: 21px;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
}

.informations__filter__link:hover {
  color: var(--red);
}

.description__socials__icon-word {
  font-family: var(--titleRoboto);
  color: #a3a096;
  line-height: normal;
  padding: 7px 21px;
  margin-left: 30px;
  margin-top: 6px;
  font-size: 13px;
  display: inline-block;
  text-decoration: none;
  vertical-align: text-bottom;
}

.description__text-word {
  font-family: var(--titleRoboto);
  color: #a3a096;
  padding: 0;
  margin-top: 46px;
  margin-left: 46px;
  margin-right: 84px;
  font-size: 13px;
  display: inline-block;
  text-decoration: none;
}

.delivery_terms__text-word {
  font-family: var(--titleRoboto);
  color: #212121;
  padding: 0;
  margin-top: 46px;
  margin-left: 46px;
  margin-right: 84px;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  line-height: 1.5;
}

.about_the_brand__text-word {
  font-family: var(--titleRoboto);
  color: #212121;
  padding: 0;
  margin-top: 47px;
  margin-left: 46px;
  margin-right: 44px;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  line-height: 1.5;
}

.text {
  margin-top: 0; /* Отступ сверху */
  margin-bottom: 11px; /* Отступ снизу */
}

.filter__link:hover {
  color: var(--red);
}

.filter__item--active .filter__link {
  color: var(--yellow);
  background-color: var(--black);
}

.informations__filter__item--active .informations__filter__link {
  color: var(--yellow);
  background-color: var(--black);
}

.products {
  margin-left: 50px;
  margin-bottom: 80px;
}

.informations {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.informations__filter__item {
  margin-right: 40px;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -27px;
}

.products__item {
  width: 302px;
  height: 386px;
  background: var(--yellow);
  margin-bottom: 35px;
  margin-left: 28px;
  position: relative;
}

.description__item {
  justify-content: center;
  list-style: inside none;
}

.description__item1 {
  min-width: 337px;
  min-height: 279px;
  border: 10px solid var(--yellow);
  border-right: 1px solid var(--gray);
  position: relative;
  display: inline-block;
}

.description__item2 {
  width: 761px;
  height: 279px;
  border: 10px solid var(--yellow);
  border-left: 1px solid var(--gray);
  position: absolute;
  display: inline-block;
}

.size__chart__item1 {
  min-width: 338px;
  min-height: 445px;
  border: 10px solid var(--yellow);
  border-right: 0px solid;
  position: relative;
  display: inline-block;
}

.size__chart__item2 {
  width: 761px;
  height: 445px;
  border: 10px solid var(--yellow);
  border-left: 0px solid;
  position: absolute;
  display: inline-block;
}

.delivery_terms__item1 {
  min-width: 336px;
  min-height: 239px;
  border: 10px solid var(--yellow);
  border-right: 1px solid var(--gray);
  position: relative;
  display: inline-block;
}

.delivery_terms__item2 {
  width: 761px;
  height: 239px;
  border: 10px solid var(--yellow);
  border-left: 1px solid var(--gray);
  position: absolute;
  display: inline-block;
}

.about_the_brand__item1 {
  max-width: 336px;
  min-height: 239px;
  border: 10px solid var(--yellow);
  border-right: 1px solid var(--gray);
  position: relative;
  display: inline-block;
}

.about_the_brand__item2 {
  width: 761px;
  height: 239px;
  border: 10px solid var(--yellow);
  border-left: 1px solid var(--gray);
  position: absolute;
  display: inline-block;
}

.size__chart__content-recommendations {
  font-family: var(--titleRoboto);
  font-size: 12px;
  margin-left: 46px;
  margin-top: 7px;
}

.size__chart__content-recommendations_text {
  text-decoration: none;
  color: #6b6963;
  line-height: 0.2;
}

.products__price {
  position: absolute;
  top: 18px;
  left: -6px;
  width: 126px;
  border-bottom: 45px solid #232323;
  border-left: 5px solid transparent;
  border-right: 2px solid transparent;
  transform: rotate(-181deg);
}

.products__price-amount {
  font-size: 30px;
  font-weight: bold;
  font-family: var(--titlesFontKaffeesatz);
  color: #fff;
  transform: rotate(181deg);
  position: absolute;
  top: 2px;
  right: 28px;
}

.products__item--color-black {
  background: #232323;
}

.products__item--color-black .products__price {
  border-bottom-color: var(--yellow);
}

.products__item--color-black .products__price-amount {
  color: #212121;
}

.products__item--size-double {
  width: 630px;
  height: 544px;
}

.products__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.size__chart__content {
  width: 337px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 40px;
}

.table {
  background: #ebe6d6; /* Цвет фона таблицы */
  border-left: #ebe6d6;
  border-right: #ebe6d6;
  border-collapse: collapse;
  overflow: hidden;
}

TD {
  font-family: var(--titleRoboto);
  font-size: 12px;
  color: #949189;
  background: #fcf5e6; /* Цвет фона ячеек */
  padding: 13px 13px 13px 13px; /* Поля вокруг текста */
  text-align: center;
}

TH {
  background: #f4efe0; /* Цвет фона ячейки */
  border-top: 0 solid #fff;
  font-size: 13px;
  text-align: center;
  color: var(--black);
}

.table__name {
  font-family: var(--titleRoboto);
  font-size: 12px;
  color: #949189;
  padding: 13.2px 21px 13.2px 21px; /* Поля вокруг текста */
  text-align: start;
}

.table__name1 {
  padding: 21px 18px 18px 21px; /* Поля вокруг текста */
  text-align: start;
  color: var(--black);
}

.table__col1 {
  width: 160px;
}

.table__coln {
  width: 80px;
}

.products__item:hover .products__desc {
  transform: translateY(0%);
}

.products__desc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 23px 30px;
  background: rgba(35, 35, 35, 0.8);
  font-size: 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(100%);
  transition: transform 0.3s;
}

.products__img {
  display: block;
  max-width: 90%;
  max-height: 100%;
}

.size__chart__img {
  display: block;
  max-width: 70%;
  max-height: 100%;
}

.products__img-page2 {
  display: block;
  max-width: 92%;
  max-height: 100%;
  margin-left: 50px;
  margin-right: 18px;
}

.hurley__img {
  display: block;
  max-width: 79%;
  max-height: 100%;
}

.products__desc-text {
  text-align: center;
  margin-bottom: 18px;
}

.btn {
  text-transform: uppercase;
  font-family: var(--titlesFontKaffeesatz);
  font-size: 24px;
  padding: 2px 30px;
  background: var(--black);
  color: var(--yellow);
  display: inline-block;
  text-decoration: none;
}

.btn__page2 {
  max-width: 210px;
  max-height: 53px;
  text-transform: uppercase;
  font-family: var(--titlesFontKaffeesatz);
  font-size: 37px;
  margin-top: 10px;
  margin-left: 30px;
  padding: 2px 0px 0px 0px;
  background: var(--black);
  color: var(--yellow);
  display: block;
  text-align: center;
  text-decoration: none;
}

.btn-size {
  display: inline-flex;
  position: relative;
}

.btn-size-name {
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #fff;
  border: 1px solid var(--gray);
}

.btn-size-name-active {
  background-color: var(--yellow);
}

.btn-size-name:first-child {
  margin-right: 0;
  margin-left: 30px;
}

.btn-size-text {
  font-family: var(--titleRoboto);
  font-weight: bold;
  color: var(--black);
  margin: 0px 0px 27px 6px;
  padding: 16px 2px 15px 2px;
}

.filter-link__btn {
  font-family: var(--titleRoboto);
  text-transform: uppercase;
  color: var(--yellow);
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
}

.size__btn-page2--text-word-active .filter__link-page2-size__btn {
  color: var(--yellow);
  background-color: var(--yellow);
  padding: 15px 0;
}

.btn:hover {
  background: var(--red);
  color: #fff;
}

.btn__page2:hover {
  background: var(--red);
  color: #fff;
}

.collections {
  margin-left: 50px;
  margin-bottom: 135px;
}

.collections-page2 {
  display: flex;
  justify-content: center;
  min-height: 800px;
  flex: 1;
  overflow: hidden;
  margin-right: 0px;
  margin-bottom: 93px;
}

.collections__content-page2 {
  width: 536px;
  height: 668px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.collections__list {
  display: flex;
}

.collections__list-page2 {
  display: flex;
  flex-wrap: wrap;
}

.collections__item {
  min-height: 474px;
  max-width: 632px;
  flex: 1;
  overflow: hidden;
  margin-right: 30px;
  background: url("./img/bg/pattern.png") center center / 500px;
  position: relative;
}

.collections__item-page2 {
  background: var(--yellow);
  margin-left: 0px;
  position: relative;
  min-height: 670px;
  max-width: 550px;
  margin-top: 90px;
}

.collections__item-page2--shirt-info {
  min-height: 680px;
  width: 555px;
  background: white;
  border-color: var(--yellow);
  border-style: solid;
  border-width: 10px;
  flex: 1;
  overflow: hidden;
  margin-top: 90px;
  margin-left: 0px;
  position: relative;
}

.collections__item:before {
  content: "";
  display: block;
  position: absolute;
  height: 176%;
  width: 60%;
  top: -17%;
  left: -18%;
  background: center center / contain no-repeat;
}

.collections__item-page2:last-child {
  margin-right: 0;
}

.collections__item--type-guys:before {
  background-image: url("./img/collections/collection_man.png");
}

.collections__item--type-girls:before {
  background-image: url("./img/collections/collection_woman.png");
  top: -31%;
  width: 80%;
  left: -25%;
}

.collections__link {
  display: block;
  padding: 74px 13% 74px 44%;
  text-decoration: none;
  color: inherit;
  font-size: 15px;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

.collections__link-page2 {
  display: block;
  width: 46px;
  height: 46px;
  padding: 74px 13% 74px 44%;
  text-decoration: none;
  color: inherit;
  font-size: 15px;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

.collections__link:hover .btn {
  background: var(--red);
  color: #fff;
}

.collections__title {
  font-family: var(--titlesFontKaffeesatz);
  font-size: 70px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 11px;
}

.collections__title-page2-name {
  font-family: var(--titleFontUbuntu);
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  color: var(--yellow);
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: 30px;
}

.collections__title-page2-labe {
  font-family: var(--titlesFontKaffeesatz);
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  color: var(--black);
  margin-top: 6px;
  margin-bottom: 0%;
  margin-left: 30px;
}

.collections__title-page2-price {
  font-family: var(--titlesFontKaffeesatz);
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  color: var(--black);
  background-color: var(--yellow);
  text-align: center;
  margin-top: 6px;
  margin-left: 30px;
  margin-right: 430px;
  margin-bottom: 30px;
  padding-top: 5px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-top: 1px solid var(--gray);
  margin-bottom: 30px;
  margin-top: 30px;
}

.collections__title-page2-info {
  display: block;
  margin-top: 15px;
  margin-left: 30px;
  font-family: var(--titleRoboto);
  font-size: 14px;
  color: var(--gray);
  text-decoration: none;
}

.collections__item:last-child {
  margin-right: 0;
}

.collections__desc {
  margin-bottom: 28px;
}

.footer {
  margin-bottom: 115px;
}

.footer__page2 {
  margin-bottom: 115px;
  display: grid;
  justify-content: space-around;
}

.description__list__container {
  width: 1105px;
  margin-bottom: 80px;
}

.site-menu {
  margin-bottom: 115px;
}

.site-menu__sections {
  display: flex;
  justify-content: space-between;
}

.site-menu__col {
  margin-right: 100px;
}

.site-menu__col:last-child {
  margin-right: 0px;
}

.site-menu__title {
  font-family: var(--titlesFontKaffeesatz);
  font-size: 24px;
  font-weight: bold;
  color: var(--black);
  text-transform: uppercase;
  margin-bottom: 24px;
  margin-right: 44px;
}

.site-menu__item {
  margin-bottom: 15px;
}

.site-menu__link {
  color: #737373;
  font-size: 15px;
  text-decoration: none;
}

.site-menu__link:hover {
  color: var(--red);
}

.site-menu__text {
  font-size: 15px;
  color: var(--black);
  margin-bottom: 30px;
}

.site-menu__text-row {
  color: inherit;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.extras {
  width: 100%;
  display: flex;
  margin-bottom: 95px;
}
.extras__col {
  margin-right: 20px;
  flex: 1;
}

.extras__col:last-child {
  margin-right: 0px;
}

.extras__best {
  text-align: center;
  color: #fff;
  background: #232323;
  font-size: 50px;
  font-weight: bold;
  font-family: var(--titlesFontKaffeesatz);
  text-transform: uppercase;
  padding: 39px 10%;
  display: block;
  text-decoration: none;
  line-height: 1;
}

.extras__col-socials {
  height: 100%;
  background: url("./img/bg/pattern.png") center center / 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials {
  display: flex;
}

.description__socials {
  display: flex;
  margin-left: 0px;
}

.description__text {
  display: flex;
  margin-left: 0px;
}

.delivery_terms__text {
  display: flex;
  margin-left: 0px;
}

.about_the_brand__text {
  display: flex;
  margin-left: 0px;
}

.description__socials:first-child {
  margin-top: 37px;
}

.socials__item {
  margin-right: 50px;
}

.description__socials__item {
  display: inline-block;
}

.delivery_terms__item1-icon {
  display: inline-block;
  padding-top: 44px;
  padding-left: 80px;
}

.about_the_brand__item1-icon {
  display: inline-block;
  padding-top: 67px;
  padding-left: 56px;
}

.description__text__item {
  display: block;
}

.delivery_terms__text__item {
  display: block;
}

.about_the_brand__text__item {
  display: block;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  width: 38px;
  height: 38px;
  display: block;
}

.description__socials__link {
  width: 28px;
  height: 21px;
  display: inline-block;
}

.description__socials-cent__link {
  width: 28px;
  height: 21px;
  display: inline-block;
  vertical-align: super;
}

.socials__link:hover .socials__icon {
  fill: var(--red);
}

.socials__icon {
  width: 100%;
  height: 100%;
}

.description__socials__icon {
  width: 100%;
  height: 100%;
  margin-left: 30px;
}

.informations__container {
  width: 1340px;
  align-items: center;
  justify-content: center;
}

.tabs {
  overflow: hidden;
}

.tab-head {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 68px;
}

.tab-head__item {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.tab-head__item:hover {
  color: var(--red);
}

.tab-head__item.active {
  color: var(--yellow);
  background-color: var(--black);
}

.tab-content {
  display: flex;
  position: relative;
  margin: 0;
  justify-content: center;
}

.tab-content__item {
  position: absolute;
  left: 0;
  top: 0;

  opacity: 0;
  transform: translateX(0);

  padding: 10px;
  font-size: 15px;
  justify-content: center;
}

.tab-content__item.active {
  width: 1121px;
  padding: 0;
  transition: all 0.5s;
  opacity: 1;
  transform: translateX(0);
  position: static;
  justify-content: center;
}

.info__text {
  font-family: var(--titlesFontKaffeesatz);
  text-transform: uppercase;
  padding: 5px 21px;
  color: var(--black);
  font-size: 21px;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  margin-right: 45px;
}

.info__text:last-child {
  margin-right: 0;
}

.slider {
  width: 445px;
  height: 495px;
}

.slider__container {
  width: 102%;
  height: 83%;
}

.slider__image {
  width: 110%;
  height: 100%;
  margin-left: -13px;
  object-fit: cover;
  margin-top: 114px;
}

.slider__controls {
  padding-top: 10px;
  text-align: center;
}

.slider__nav {
  cursor: pointer;
}

.slider__dots {
  padding: 10px 0;
  text-align: center;
  display: table-cell;
}

.slider__dot {
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin: 0 4px;
  border-radius: 50%;
  display: inline-block;
}

.slider__dot:first-child {
  margin-left: 30px;
}

.slider__dot-black {
  background-color: black;
  border: 1px solid #fff;
}

.slider__dot-white {
  background-color: #fff;
  border: 1px solid rgb(233, 230, 230);
}

.slider__dot-green {
  background-color: green;
  border: 1px solid #fff;
}

.slider__dot-blue {
  background-color: blue;
  border: 1px solid #fff;
}

.slider__dot-red {
  background-color: var(--red);
  border: 1px solid #fff;
}

.slider__dot.active,
.slider__dot:hover {
  height: 19px;
  width: 19px;
  border: 4px solid var(--yellow);
}

/* Fading animation */

.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
